<ion-header>
  <ion-navbar color="client">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Productos de Factura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar id="myInput" [(ngModel)]="search"
    (ionChange)="searchTable()" (keyup)="searchTable()">
  </ion-searchbar>

  <ion-list no-lines id="myList" >
    <ion-card *ngFor="let p of products" >
        <img style="height: 60%;" src="{{p.image}}" *ngIf="p.image"/>
        <img style="height: 60%;" src="../../../assets/imgs/Error 404.jpg" *ngIf="!p.image"/>
        <ion-card-content>
            <ion-card-title>
            {{p.product}}
            </ion-card-title>
            <p><strong>Cantidad: </strong>{{p.qty}}
            <strong>Subtotal: </strong> {{p.subtotal}}
            </p>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>